@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    margin: 50px;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* left_Side */
.container .left_Side {
    position: relative;
    padding: 40px;
    background-color: #003147;    
}

.profileText {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2 {
    color: #fff; 
    font-size: 1.5em;
    margin-top: 20px;   
    font-weight: 600;
    line-height: 1.4em;    
    text-align: center;
    text-transform: uppercase;    
}

.profileText h2 span {
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.title {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 20px 20px 0px;
}

.contactInfo ul {
    position: relative;    
}

.contactInfo ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span {
    color: #fff;
    font-weight: 300;
}

.contactInfo ul li a {
    text-decoration: none;
}

/* Alterei o tamanho para adaptação */
.contactInfo .text {
    font-size: 0.75em;
}

.contactInfo.education li {
    margin-bottom: 15px;
}

.contactInfo.education h5 {
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4 {
    color: #fff;
    font-weight: 200;
}

.contactInfo.language .text {
    font-size: 1em;
}

.contactInfo.language .percent {
    display: block;
    position: relative;
    width: 100%;
    height: 6px;
    margin-top: 5px;
    background-color: #081921;
}

.contactInfo.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

/* right_Side */
.container .right_Side {
    position: relative;
    padding: 40px;
    background-color: #fff;
}

.about {
    margin-bottom: 50px;
}

.about:last-child {
    margin-bottom: 0;
}

.title2 {
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p {
    color: #333;
    text-align: justify;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
    margin-right: 20px;
}

.about .box .year_company h5 {
    margin-top: 4px;
    text-transform: uppercase;
    font-weight: 600;
    color: #848c90;
}

.about .box .text h4 {
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}

.skills .box {
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;    
}

.skills .box h4 {
    font-weight: 500;
    text-transform: uppercase;
    color: #848c90;
}

.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background-color: #f0f0f0;
}

.skills .box .percent div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #03a9f4;
}

.interest ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
    margin: 10px 0;
    list-style: none;
    font-weight: 500;
    color: #333;
}

.interest ul li .fa-solid {
    color: #03a9f4;
    font-size: 18px;
    width: 20px;
}

@media (max-width: 1000px) {
    .container {
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }

    .interest ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .contactInfo .text {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .about .box {
        flex-direction: column;
    }

    .about .box .year_company {
        margin-bottom: 5px;
    }

    .interest ul {
        grid-template-columns: repeat(1, 1fr);
    }

    .skills .box {
        grid-template-columns: repeat(1, 1fr);
    }
}